<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Liên kết font Poppins -->
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="social">
        <a href=""><i class='bx bxl-facebook-circle'></i></a>
        <a href=""><i class='bx bxl-linkedin'></i></a>
        <a href=""><i class='bx bxl-twitter'></i></a>
    </div>
    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">About Me</a>
        </li>
        <li>
            <a href="#">Contact Me</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>
    <p class="copyright">© 2025 Hieu Nguyen | All Rights Reserved</p>
</footer>
</body>
</html>