<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <footer class="footer" th:fragment ="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Giới thiệu</h3>
                <p>Trang web cung cấp thông tin về cơ sở dữ liệu<br> khoa học, công nghệ, và các thông báo quan<br>
                    trọng từ
                    Đại
                    học Nha Trang.</p>
            </div>

            <div class="footer-section links">
                <h3>Liên kết nhanh</h3>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Hướng dẫn</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>

            <div class="footer-section contact">
                <h3>Liên hệ</h3>
                <p>📧 Email: dhnt@ntu.edu.vn</p>
                <p>📞 Điện thoại: 02583831149</p>
                <p>📍 Địa chỉ: 02 Nguyễn Đình Chiểu, Vĩnh Thọ, Nha Trang, Khánh Hòa</p>
            </div>
        </div>

        <div class="footer-bottom">
            &copy; 2025 Đại học Nha Trang | Thiết kế bởi Phan Anh Nhất
        </div>
    </footer>

</body>
</html>