<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <header class="header" th:fragment="header">
    <a href="#" class="logo"><span>Hieu</span>Nguyen</a>
    <div class="banner">
        <img src="/img/pic2.png" alt="Banner">
    </div>
    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">List</a>
        <a href="#">Add new</a>
    </nav>
</header>
</body>
</html>