<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin sinh viên</title>
    <!-- Link đến file CSS riêng -->
   <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
    <h1>DANH SÁCH SINH VIÊN</h1>
    
    <table>
        <thead>
            <tr>
                <th>MSSV</th>
                <th>Họ tên</th>
                <th>Năm sinh</th>
                <th>Giới tính</th>
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="sv : ${dssV}">
                <td th:text="${sv.mssv}"></td>
                <td th:text="${sv.hoTen}"></td>
                <td th:text="${sv.namSinh}"></td>
                <td th:text="${sv.gioiTinh}"></td>
            </tr>
        </tbody>
    </table>
    
    
</body>
</html>