@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column; /* Stack the banner and navbar vertically */
    align-items: stretch; /* Stretch items to fill the width */
    z-index: 100;
}



span {
    color: orangered;
}

/* Style cho banner ảnh */
.banner {
    height: 50px; 
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    max-width: none; 
}

.banner img {
    height: 100%;
    width: 100%; 
    object-fit: cover; 
    opacity: 0.8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 10px 20px; 
    margin-top: 40px; 
}

.navbar a {
    font-size: 23px;
    color: white;
    font-weight: 600;
    flex: none;
    text-align: center;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.navbar a.active {
    color: orangered;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 5em;
    padding: 30px 12% 0;
    padding-top: 70px;
}

.content {
    flex: 2;
    padding-right: 50px;
}

.content h1 {
    font-size: 60px;
    line-height: 1.2;
}

.content h1 span {
    color: #ff4500;
}

.image-container {
   
      flex: 1;
     
}

.image-container img {
    width: 650px;
    height: 700px;
    object-fit: cover;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
   
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: orangered;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.6);
    width: 50px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: white;
}
