<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Liên kết CSS -->
    <link rel="stylesheet" th:href="@{/css/style_home.css}" href="/css/style.css">
    <!-- Liên kết font Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Fragment Header -->
     <div th:replace ="layout/header :: header" ></div>
    <!-- Fragment Top bar -->
     <div th:replace="layout/topbar :: topbar"></div>
        <div class="container">
    <section class="home">
        <div class="home-content">
            <h3>Hi, I'm</h3>
            <h1>Hieu Nguyen</h1>
            <h3>A college student</h3>
           
            
        </div>
        <div class="img-box">
            <img src="img/img112.jpg" alt="Hieu Nguyen">
        </div>
    </section>
</div>
    	
    <!-- Fragment Footer -->
   <div th:replace ="layout/footer :: footer" ></div>
</body>
</html>