<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="sidebar" th:fragment="sidebar">
        <div class="logo">
            Quiz<span>Master</span>
        </div>
        <nav>
            <a href="/home"><i class="fas fa-home"></i>  Trang chủ</a>
              <a href="/admin"><i class="fas fa-home"></i>  Quản lí Quiz</a>           
            <a href="/quiz/create" class="active"><i class="fas fa-plus-circle"></i> Tạo Quiz mới</a>
            <a href="/question/create"><i class="fas fa-question-circle"></i> Tạo Câu hỏi</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </nav>
    </div>
</body>
</html>