@charset "UTF-8";

/* Breakpoints */
:root {
    --bp-maggie: 10em; /* 240px */
    --bp-lisa: 20em;   /* 480px */
    --bp-bart: 40em;   /* 768px */
    --bp-marge: 50em;  /* 992px */
    --bp-homer: 60em;  /* 1200px */
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding: 0;
}

h1 {
    color: rgba(38,137,13,1);
    text-align: center;
    margin: 5% 3%;
    font-size: 1.5em;
}

table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    table-layout: fixed; /* Đảm bảo các cột có chiều rộng cố định */
}

thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

th {
    background-color: rgba(38,137,13,1);
    border: 1px solid rgba(134,188,37,1);
    font-weight: normal;
    text-align: center;
    color: white;
    padding: 0.5em;
}

th:nth-child(1), td:nth-child(1) { /* Cột MSSV */
    width: 20%; 
}

th:nth-child(2), td:nth-child(2) { /* Cột Họ tên */
    width: 40%; 
}

th:nth-child(3), td:nth-child(3) { /* Cột Năm sinh */
    width: 20%; 
}

th:nth-child(4), td:nth-child(4) { /* Cột Giới tính */
    width: 20%; 
}

tbody, tr, td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}

tr {
    margin-bottom: 1em;
}

td {
    padding: 0.5em;
    vertical-align: middle;
    text-align: right;
    border-bottom: 1px solid rgba(134,188,37,1);
}

/* Responsive styles */
@media (min-width: 30em) { /* bp-lisa: 480px */
    td {
        padding: 0.75em 0.5em;
    }
}

@media (min-width: 48em) { /* bp-bart: 768px */
    h1 {
        margin: 2%;
        font-size: 2em;
    }

    table {
        font-size: 0.9em;
    }

    thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }

    tbody {
        display: table-row-group;
    }

    tr {
        display: table-row;
        margin-bottom: 0;
    }

    th, td {
        display: table-cell;
        padding: 0.5em;
        text-align: center;
    }

    td {
        border-left: 1px solid rgba(134,188,37,1);
    }

    tr:nth-of-type(even) {
        background-color: rgba(0,0,0,0.12);
    }
}

@media (min-width: 62em) { /* bp-marge: 992px */
    table {
        font-size: 1em;
    }

    th, td {
        padding: 0.75em 0.5em;
    }
}

@media (min-width: 75em) { /* bp-homer: 1200px */
    h1 {
        margin: 2em auto;
        max-width: 75em;
    }

    th, td {
        padding: 0.75em;
    }
}