<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Student Detail</title>
    
 <!-- Liên kết CSS -->
    <link rel="stylesheet" th:href="@{/css/detailST.css}">
    <!-- Liên kết font Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<body>
<!-- Fragment Header -->
     <div th:replace ="layout/header :: header" ></div>
<!-- Fragment Top bar -->
     <div th:replace ="layout/topbar :: topbar" ></div>
    <div class="topic-container">
        <!-- Tiêu đề đề tài -->
        <h1 th:text="${student.name}"></h1>
        
        <!-- Chi tiết đề tài -->
        <div class="detail-row">
            <span class="label">ID:</span>
            <span th:text="${student.id}"></span>
        </div>
        
        <div class="detail-row">
            <span class="label">Group ID:</span>
            <span th:text="${student.groupId}"></span>
        </div>
        
        
        
        <!-- Nút quay lại -->
        <a th:href="@{/student/all}" class="back-link">
            ← Back to list page
        </a>
    </div>
      <!-- Fragment Footer -->
   <div th:replace ="layout/footer :: footer" ></div>
</body>
</html>